.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    max-width: 1200;
    margin: 0 auto;
}

.movies-container div{
    width: 100%;    
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

@media only screen and (min-width: 650px) {
  .movies-container div{
    width: 49%;
  }
}

@media only screen and (min-width: 1100px) {
  .movies-container div{
    width: 32%;
  }
}

.movies-container div img{
    max-width: 100%; 
    /* garante mesma largura sempre caso alguma imagem venha fora de padrão */
}

.movies-container div img,
.movies-container div h2,
.movies-container div p{
    margin-bottom: 1rem;
}

.movies-container div p{
    display: flex;
    align-items: center;
}

.movies-container div svg{
    color: #ffc107;
    font-size: 1.5rem;
    margin-right: 10px;
}


.movies-container div a{
    background-color: #ffc107;
    border: 2px solid #ffc107;
    border-radius: 4px;
    color: #000;
    padding: 1rem .5rem;
    align-items: center;
    transition: .8s;
    font-weight: bolder;
    text-align: center;    
}

.movies-container div a:hover{
    background-color: transparent;
    color: #ffc107;
}