@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body{
  background-color: black;
  color: aliceblue;
  position: relative;
}

a{
  text-decoration: none;
}


.logoHover{
  color: #ffc107;
  transition: 0.8s;
}

.logoHover:hover{
  color: #9e7b14;
}

.btnDetails{
  display: block;
  background-color: #ffc107;
  color: #121212;
  border: 2px solid #ffc107;
  transition: 0.8s;
}

.btnDetails:hover{
  color: #ffc107;
  background-color: #121212;
  
}
